<div class="header">
    
        <ul class="menu">
        <li> 
<img class="logo" src="https://i.pinimg.com/564x/71/1a/e8/711ae8f5b52fef076ae6f0452cdcf1d8.jpg" />
        </li>
        <li> <img class="logo" src="https://i.pinimg.com/564x/cd/53/6b/cd536b0cf6ada543799cdb8f88cf7721.jpg" alt=""></li>
        <li><img class="logo" src="https://i.pinimg.com/564x/27/e5/0c/27e50cbe7f0b6c876abbf75b3ee33387.jpg" alt=""></li>
        <li><img class="logo" src="https://i.pinimg.com/564x/ea/31/56/ea3156767f4b08acdce224d2dcdfe5e3.jpg" alt=""></li>
    </ul>
   
</div>
